:root{
    --color_1: #ECF4FF;
    --color_15: #DFECFF;
    --color_2: #4491ff;
    --color_25: #C3DCFF;
    --color_25_dark: #a7c1e6;
    --color_3: #2469cd;
}

::placeholder{
    color: var(--color_3);
}

::-ms-input-placeholder { 
    color: var(--color_3);
   }

.content{
    position: relative;
    background-color: red;
    width: 100%;
    height: 20vh;
    color: blue;
    font-size: 20px;
}

.content p{
    margin: 0 0 0px;
}

.text-content{
    position: relative;
    margin-left: 10vw;
    display: inline-block;
    vertical-align: top;
}

h1{
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color: var(--text-accent)
}

.text-content p{
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: var(--text-highlight);
}

h2{
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: var(--text-highlight);
}

#palette{
    width: 30vw;
    height: 30vw;
    left: 34.28%;
    right: 0%;
    top: 0%;
    bottom: 39.16%;

    background: #C3DCFF;
    box-shadow: -3px -4px 10px 5px rgba(229, 240, 255, 0.5), 0px 4px 10px 5px rgba(0, 0, 0, 0.1), 0px 6px 4px rgba(142, 184, 243, 0.5), inset 0px -4px 10px rgba(66, 136, 235, 0.25), inset 0px 6px 15px 2px #E1EDFF;
    border-radius: 33px;
}

.color_row{
    width:30vw;
    height:10vw;
    /*background-color: red;*/
    display: flex;
    justify-content: space-evenly;
}

.paint_icon{
    margin-top:7%;
    margin-left:2%;
    width:9vw;
    height:9vw;
    background-position: 100% 0%;
    background-size: 250%;
}


.paint_value{
    /*background-color:blue;*/
    margin-top:12%;
    
    width:10vw;
    height:5vw;
    color: #9DC6FF;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-shadow: -2px -1px 0px rgba(26, 77, 148, 0.25);

}

.paint_copy{
    /*background-color:blue;*/
    margin-top:12%;
    margin-right:1%;
    width:3vw;
    height:2.6vw;
    color: #9DC6FF;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    background: none;
    border: none;


}

.paint_copy:hover{
    color: #5989cc;
    cursor: pointer;
}

.search_bar{
    margin-top: 20vh;
    width:100%;
    height:200px;
    background-color: var(--color_1);
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
}

.text_input{
    border-radius: 20px;
    border: none;
    background-color: var(--color_25);
    height: 4vw;
    width: 20vw;
    margin-left: 10vw;
    box-shadow: inset 0px 10px 10px rgba(35, 95, 179, 0.15);
    color: var(--color_3);
    font-size: 2vw;
    outline: none;
}

.search_button{
    outline: none;
    background: none; 
    border: none;
    color: var(--color_25_dark);
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    margin-left: 1vw;
}

.search_button:hover{
    cursor: pointer;
}

#project_cards{
    width:100%;
    height:100vh; 
    background-color: var(--color_1);
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10vh;
}

.project_card{
    width:  20vw;
    height: 15.4vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    transition: transform .2s;
}

.project_card h3{
    color: white;
    font-size: 3vw;
    position: absolute;
    margin-top: 9.5vw;
    margin-left: 1vw;
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.project_card h4{
    color: var(--color_1);
    font-size: 2vw;
    position: absolute;
    margin-top: 12.5vw;
    margin-left: 1vw;
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.project_card .read-more{
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}

.project_card .grey-box{
    width: 20vw;
    height: 6vw;
    position: absolute;
    margin-top: 9.4vw;
    background: rgba(0, 0, 0, 0.3);
}

.project_card:hover{
    transform: scale(1.05);
    filter: drop-shadow(5px -5px 5px rgba(46, 46, 46, 0.25)) drop-shadow(-5px 5px 5px rgba(92, 92, 92, 0.25)) drop-shadow(5px 5px 5px rgba(105, 105, 105, 0.25)) drop-shadow(-5px -5px 5px rgba(49, 49, 49, 0.25));}

.project_button{
    background: #C3DCFF;
    box-shadow: -3px -4px 10px 5px rgba(229, 240, 255, 0.5),inset 0px -4px 10px rgba(66, 136, 235, 0.25), inset 0px 6px 15px 2px #E1EDFF;
    border-radius: 33px;
    height: 4.1vw;
    width: 6vw;
    border: none;
    margin-left:2vw;
    color: var(--color_3);
    font-size: 2vw;
    font-family: Rubik;
}

.project_button:hover{
    cursor: pointer;
    filter: brightness(90%);
}