.main-content{
    margin-top: 100vh;
    color: white;
}

#triangle-topleft-bg{
    border-top: 70vh solid white;
    border-right: 800vw solid transparent;
}

.links{
    color: #3264b0;
    text-decoration: none;
}

.links:hover{
    color: #061d44;
}

.verbose{
    text-shadow: 0 0 20px #5e8af6, 0 0 30px #7eb3ff;
}

p{
    font-size: 2rem;
}

#grad-grid{
    margin-top: 30vh;
}

#upper-pgram{
    z-index: 6;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 20vh;
    margin-left: 50vw;
    transform: skew(20deg);
    background: rgb(94, 138, 246);
    background: linear-gradient(43deg, rgba(94,138,246,1) 0%, rgba(126,179,255,1) 50%, rgba(95,160,255,1) 100%);

}

