html{
    scroll-behavior: smooth;
}



.home-content-image{
    position:fixed;
    width: 100vw;
    height: 766px;
    background: linear-gradient(180deg, rgba(0, 107, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), url(images/peregrine-blue-long.png);
    filter: blur(1px);
    background-size: cover;
    z-index: -2;
}

.home-content-image-tint{
    position:fixed;
    width: 100vw;
    height: 766px;
    background: rgba(0,0,0,0.2);
    background-size: cover;
    z-index: -1;
}

.home-content{
    position:static;
    width: 100vw;
    height: 766px;
    z-index: -1;
}

.home-content-cover-1{
    position: absolute;
    top: 694px;
    width: 100vw;
    height: 134px;
    background: rgba(255, 255, 255, 0.2);
}

.hc-c-text{
    position: absolute;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 0px;
    top: -20px;
    color: var(--background-primary);
    margin-left: 5%;
}

#arrow3{
    position:absolute;
    width: 198px;
    height: 764px;
    right: 5%;
    top: 144px;
    background: url(images/arrow3.svg);

}

@keyframes font-enlarge{
    from{
        font-size: 200px;
    }to{
         font-size: 100px;
     }
}

.project-links{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 766px;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 50vh;
    height: 100vh;
    background: linear-gradient(180deg, #D3E6FF 0%, #FFFFFF 100%);
}

.project-link-1{
    margin-top: 30px;
    position: relative;
    width: 387px;
    height: 296px;
    background-color: yellow;
    background-size: cover;
}

.project-link-2{
    margin-top: 30px;
    position: relative;
    width: 387px;
    height: 296px;
    background-color: red;
    background-size: cover;
}

.backdrop{
    position: fixed;
    width: 100vw;
    margin-top: 766px;
    background: var(--background-primary);
    height: 100vh;
}

.fade-in-onscroll{
    opacity: 0;
}

#arrow4{
    width: 104px;
    height: 34px;
    position: absolute;
    left: 50vw;
    top: 82vh;
    background: url(images/arrow4.svg);
    background-size: cover;
    transition: 1s;
}

#arrow4:hover{
    cursor: pointer;
    transform: translateY(10px);

}

.pl1-tint{
    position: absolute;
    width: 100%;
    height:100%;
    background: black;
    opacity: 50%;
}

.pl1-title{
    position: absolute;
    margin-left: 5%;
    top: 5%;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.pl1-info{
    position: absolute;
    width: 242px;
    bottom: 5px;
    margin-left: 5%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.pl1-button{
    position: absolute;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    bottom: 30px;
    right: 55px;
    z-index: 3;
    color: #B8D6FF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.pl1-arrow{
    position:absolute;
    width: 41px;
    height: 41px;
    bottom: 25px;
    right: 20px;
    background: url(images/arrow5.svg);
    transition: 0.3s;
}

.pl1-button:hover{
    cursor: pointer;
}

.pl1-button:hover+.pl1-arrow{
    transform: translateX(10px);
}

.pl1-arrow:hover{
    cursor: pointer;
    transform: translateX(10px);
}

.project-link-placeholder{
    margin-top: 30px;
    position: relative;
    width: 387px;
    height: 296px;
    background-color: darkgrey;
    background-size: cover;
}

.plp-text{
    width: 100%;
    position: absolute;
    text-align: center;
    top:143px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}