.navbar-nav-new{
    list-style-type: none;
    display: none;
    transition: display 500ms ease;
}

html{
    height: 200%;
    overflow-x: hidden;
}

.nav-button{
    z-index: 2;
    position: fixed;
    background-color: transparent;
    color: var(--background-primary);
    border-color: transparent;
    outline: none;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    font-size: 2rem;
    cursor: grab;
    transition: background-color 200ms ease;
    border-radius: 10px;
}

.nav-button:active{
    background-color: white;
    opacity: 20%;
}



.navbar-new{
    display: flex;
    margin: 0;
    padding: 0;
    width: 0rem;
    height: 200vh;
    background: rgb(0,26,64);
    background: linear-gradient(49deg, rgba(0,26,64,1) 0%, rgba(37,88,164,1) 54%, rgba(0,46,162,1) 100%);
    position: fixed;
    transition: width 200ms ease;
}

.navbar-nav-new{
    margin-top: 10rem;
}

.birb-icon-new{
    height: 5rem;
    padding: 0px;
    border-radius: 50%;
}

.logo-text-new{
    font-family: Dosis;
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: 2rem;
    color: var(--text-secondary);
    letter-spacing: 0.3ch;
}

.logo{
    margin-left: 0.5rem;
    margin-bottom: 5rem;
}

.project{

    margin-top: 0rem;
    margin-left: 15rem;
}
body{
    background: rgb(95,160,255);
    background: radial-gradient(circle, rgba(95,160,255,1) 0%, rgba(51,108,249,1) 36%, rgba(50,100,176,1) 100%);
}

p.project-content{
    margin-top: 10rem;
    color: white;
}

#triangle-topleft-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 0;
    border-top: 400px solid white;
    border-right: 500vh solid transparent;
}

#triangle-bottomright {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 70rem solid var(--background-secondary);
    opacity: 25%;
    border-left: 70rem solid transparent;
}

#triangle-bottomleft-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 50%;
    border-bottom: 100vh solid var(--background-secondary);
    background: radial-gradient(circle, rgba(97,142,255,1) 0%, rgba(82,144,236,1) 50%, rgba(147,190,255,1) 100%);
    border-right: 50rem transparent;
    z-index: -2;
}


#grad-grid {
    position:absolute;
    top:0;
    margin-left: 20rem;
    width: 200vh;
    height: 30rem;
    z-index: -2;
    transform: skew(20deg);
    border: none;
    background: rgb(97,142,255);
    background: radial-gradient(circle, rgba(97,142,255,1) 0%, rgba(82,144,236,1) 50%, rgba(84,152,255,1) 100%);
}

.project-links{
    flex-wrap: wrap;
    position: center;
    margin-left: 0;
    padding:0;
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
}

.flex-item{
    border-radius: 25px;
    margin-top: 5rem;
    min-width: 0;
    width: 20rem;
    height: 15rem;
    background: rgb(179,209,254);
    background: linear-gradient(164deg, rgba(179,209,254,1) 0%, rgba(255,255,255,1) 50%, rgba(223,232,255,1) 100%);
}


